<div class="inner cover">
  <h1 class="cover-heading">Welcome</h1>
    <p class="lead">Hello there and welcome to my website! Please checkout my Blog or my Portfolio. If you need to find out more about me just hit the button that says "About Me". If you want to contact me go to my contact page.</p>
    <p class="lead">
      <%= link_to "About Me", about_me_path, class:"btn btn-lg btn-secondary" %>
    </p>
</div>